@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", serif;
}

.header-wpr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px #e1dddd;
}

.header-wpr :first-child {
    margin: 14px 0 14px 20px;
}

.header-wpr :last-child {
    padding-right: 20px;
}

.header-wpr span {
    font-size: 16px;
    font-weight: 600;
    color: #414e5a;
}

.second-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 20px;
    padding: 20px 0 20px 0;
    position: relative;
    border-bottom: solid 1px #e1dddd;
}

.second-bar :first-child {
    font-size: 15px;
    font-weight: 600;
    color: #414e5a;
}

.second-bar :last-child {
    font-size: 12px;
    font-weight: 600;
    color: #788798;
    padding-right: 45px;
}

.second-bar :last-child::after {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/717DFBAD-D967-4FF0-9A58-624A5E7C9424.svg");
    position: absolute;
    bottom: 11px;
    right: -1px;
}

.choose-month {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 35px 0 25px;
    position: relative;
}

.choose-month span {
    font-size: 12px;
    font-weight: 600;
    color: #363d43;
}

.choose-month::before {
    content: "<";
    position: absolute;
    left: 1px;
}

.choose-month::after {
    content: ">";
    position: absolute;
    right: 1px;
}

.calendar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 0 20px 0 20px;
    border-bottom: solid 1px #e1dddd;
}

.days {
    display: flex;
    flex-direction: column;
}

.days span {
    display: flex;
    justify-content: center;
    padding: 15px 15px;
}

.days :first-child {
    font-size: 11px;
    color: #a8b3be;
}

.days :not(:first-child) {
    font-size: 14px;
    font-weight: 600;
    color: #363d43;
}

.calendar :first-child :nth-child(2),
.calendar :nth-child(2) :nth-child(2),
.calendar :nth-child(6) :last-child,
.calendar :last-child :last-child {
    visibility: hidden;
}

.calendar :first-child :nth-child(3),
.calendar :nth-child(3) :nth-child(3),
.calendar :nth-child(5) :nth-child(3),
.calendar :nth-child(6) :nth-child(3) {
    background-color: #1274c0;
    text-align: center;
    color: white;
    border-radius: 50px;
}

.set-time {
    /* border: solid 1px red; */
}

.date-time {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 30px 10px;
}

.date-time::after {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/452e8e19-29c5-49f4-87f8-c0116d5ba48e.svg");
    padding-top: 30px;
}

.date-time :first-child :first-child,
.date-time :nth-child(2) :first-child,
.date-time :last-child :first-child {
    font-size: 13px;
    color: #414e5a;
}

#from,
#to {
    border: none;
    appearance: none;
    font-size: 14px;
    font-weight: 600;
    color: #1a1b1d;
}

.day-date-month {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.day-date-month :first-child {
    padding-bottom: 5px;
}

.from-time {
    display: flex;
    flex-direction: column;
    padding: 10px 35px 10px 0;
    position: relative;
    border-bottom: solid 1px #e1dddd;
}

.from-time ::after {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/a66b5258-66a0-45a2-9ea6-c495cabc2cc4.svg");
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.from-time span {
    padding-bottom: 5px;
}

.to-time {
    display: flex;
    flex-direction: column;
    padding: 10px 35px 10px 0;
    position: relative;
    border-bottom: solid 1px #e1dddd;
}

.to-time ::after {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/a66b5258-66a0-45a2-9ea6-c495cabc2cc4.svg");
    position: absolute;
    right: 0px;
    bottom: 10px;
}

.to-time span {
    padding-bottom: 5px;
}

.set-time :nth-child(2) :first-child span {
    visibility: hidden;
}

.add-slot {
    margin: 0 20px 20px 20px;
    padding-bottom: 20px;
    position: relative;
    border-bottom: solid 1px #e1dddd;
}

.add-slot span {
    font-size: 13px;
    font-weight: 600;
    color: #1274c0;
    padding-left: 22px;
}

.add-slot::before {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/20d4e9cd-4e88-4ffe-924c-435451bcef6c.svg");
    position: absolute;
    left: 1px;
    top: 2px;
}

.other-details {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px 20px;
    border-bottom: solid 1px #e1dddd;
}

.other-details :first-child {
    padding-bottom: 20px;
    font-size: 15px;
    font-weight: 600;
    color: #414e5a;
}

.other-details :nth-child(2) {
    font-size: 13px;
    color: #414e5a;
    padding-bottom: 5px;
}

.other-details :last-child {
    font-size: 16px;
    font-weight: 600;
    color: #2e2f30;
    padding-bottom: 10px;
}

.type {
    margin: 0 20px 20px 20px;
    border-bottom: solid 1px #e1dddd;
}

.type>span {
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    color: #414e5a;
    padding-bottom: 10px;
}

.means {
    display: flex;
    justify-content: space-between;
}

.box {
    font-size: 11px;
    font-weight: 600;
    color: #1a1b1d;
    padding: 12px 10px 12px 36px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 5px;
    border: solid 1px #e5e5e5;
}

.box span {
    font-size: 11px;
    font-weight: 600;
    color: #1a1b1d;
    position: relative;
}

.text::before {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/f3909fca-76c5-4aab-bd2a-59f125e45cb8.svg");
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.audio::before {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/79abaa4a-7fbc-4cc8-b9cd-f5963306f25f.svg");
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.video::before {
    content: url("https://cdn.zeplin.io/5e384948712997b0a5b102e3/assets/7cf4662c-57e4-4d41-8833-47e86b35ab78.svg");
    position: absolute;
    left: 10px;
    bottom: 6px;
}

.box :last-child {
    display: inline-block;
    border: solid 1px rgb(236, 229, 229);
    height: 10px;
    width: 10px;
    bottom: 10px;
    left: 8px;
    border-radius: 10px;
}

.note {
    padding: 0 20px 20px 20px;
    border-bottom: solid 1px #e1dddd;
}

.note span {
    font-size: 13px;
    color: #788798;
}

.button {
    border: solid 1px green;
    margin: 8px 10px;
    border-radius: 24px;
    background-color: #1274c0;
    color: white;
    text-align: center;
    padding: 13px 0 13px 0;
    margin-bottom: 10px;
}